<main>
  <section class="bg1">
    <div class="bg_img1"></div>
    <div class="bg_txt1">
      <p>공지사항</p>
    </div>
  </section>
  <section class="notice1">
    <% if(typeof errs !== 'undefined'){ %> <% errs.forEach(() =>{ %> <%=
    err.param %> : <%= err.msg %> <% }) %> <%}%>
    <form>
      <div class="notice1_title">
        <p><%=row.title%></p>
        <h3><%= row.date%></h3>
      </div>

      <article class="notice1_txt">
        <div><%=row.title%></div>
        <p><%=row.content%></p>
      </article>
    </form>
    
    <div class="write_btn">
      <input
        type="button"
        onclick="javascript:location.href='/updatenoti?id=<%=row.id%>'"
        value="수정"
      />
      <input
        type="button"
        onclick="javascript:location.href='/deletenoti?id=<%=row.id%>'"
        value="삭제"
      />
    </div>
    <div class="notice_deta_bottom"
      ><a href="notice">
        <p>목록</p>
      </a></
    >
  </section>
</main>
