<main>
  <section class="bg1">
    <div class="bg_img1"></div>
    <div class="bg_txt1">
      <p>공지사항</p>
    </div>
  </section>
  <section class="notice">
    <% rows.forEach((row, index)=>{ %>
    <ul class="notice_box">
      <li class="num_size">
        <div class="num"><%= row.date%></div>
      </li>
      <li onclick="javascript:location.href='/notice_deta?id=<%=row.id%>'">
        <p class="tit"><%= row.title%></p>
        <p class="txt"><%=row.content%></p>
      </li>
    </ul>
    <div class="update_btn">
      <input
        type="button"
        onclick="javascript:location.href='/updatenoti?id=<%=row.id%>'"
        value="수정"
      />
      <input
        type="button"
        onclick="javascript:location.href='/deletenoti?id=<%=row.id%>'"
        value="삭제"
      />
    </div>
    <% }) %>
    <button
      class="btn_cl"
      type="button"
      value="새작성"
      onclick="javascript:location.href='/write'"
    >
      글쓰기
    </button>
  </section>
</main>
