<main>
  <section class="bg1">
    <div class="bg_img1"></div>
    <div class="bg_txt1">
      <p>공지사항</p>
    </div>
  </section>
  <section class="update_main_p">
    <% if(typeof errs !== "undefined"){ %> <% errs.forEach((err)=>{%>
    <h4 style="color: red"><%=err.param%> : <%=err.msg%></h4>
    <% }) %> <% } %>
    <form method="POST" action="/updatenoti">
      <input type="hidden" name="id" value="<%=row.id%>" />
      <div class="notice1_title">
        <p>제목</p>
        <input name="title" class="title_number" value="<%=row.title%>" />
        <h3><%=row.date%></h3>
      </div>

      <div class="notice1_txt update_mod">
        <p>내용</p>
        <textarea name="content" class="title_news" value="<%=row.content%>">
            <%=row.content%>
          </textarea
        >
      </div>
      <div class="write_btn">
        <input type="submit" value="저장" id="save" />
        <input
          type="button"
          value="뒤로 가기"
          onclick="javascript:location.href='notice'"
        />
      </div>
    </form>
  </section>
</main>
