<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/notice.css" />
    <link rel="stylesheet" href="css/common.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>공지</h1>
    <% if(typeof errs !== "undefined"){ %> <% errs.forEach((err)=>{%>
    <h4 style="color: red"><%=err.param%> : <%=err.msg%></h4>
    <% }) %> <% } %>
    <form method="POST" action="/updatenoti">
      <input type="hidden" name="id" value="<%=row.id%>" />
      <p>정보</p>

      <input name="title" class="title_number" value="<%=row.title%>" />
      <p>컨텐츠</p>
      <input name="content" class="title_news" value="<%=row.content%>" />
      
      <tr>
        <td colspan="2">
          <input type="submit" value="저장" id="save" />
          <input
            type="button"
            value="뒤로 가기"
            onclick="javascript:location.href='/'"
          />
        </td>
      </tr>
    </form>
  </body>
</html>
